$slider-color: #D28281;
$quotes-color: #FBF2F3;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: .02rem;
  a {
    text-decoration: none;
  }
}

body {
  width: 100%;
  .wrapper {
    width: 100%;
    padding: 0 1.5%;
  }
  header {
    width: 100%;
    border-bottom: 0.1rem solid #E5E5E5;
    .page-title {
      @include center; 
      background-color: #000;
      text-transform: uppercase;
      color: white;
      height: 3.5rem;
      font-size: .9rem;
    }
    .header-main {
      height: 8vh;
      display: flex;
      flex-direction: row;
      .menu-container {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        div {
          width: 2rem;
          height: .1rem;
          background-color: black;
          margin: .3rem 0;
        } 
      }
      .logo-container {
        width: 50%;
        .logo {
          width: 100%;
          height: 100%;
          a {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            img {              
              height: 3.3rem;
              width: 3.3rem;
            }
            p {
              text-transform: capitalize;
              font-size: 1.4rem;
              margin-left: .5rem;
              color: black;
              font-weight: 500;
            }
          }
        }
      }
      .cart-container {
        width: 30%;
        a {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          height: 100%;
          .fa-shopping-cart {
            font-size: 2rem;
            color: black;
          }
        }
      }
    }
  }
  main {
    .help-heading {
      height: 4rem;
      display: flex;
      align-items: center;
      h1 {
        font-style: italic;
        font-weight: 500;
        font-size: 1.5rem;
        padding: 0 2%;
      }
    }
    .sliders-container {
      .slider {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;
        background-color: $slider-color;
        color: white;
        padding: 0 1.5%;
        .icon-title {
          display: flex;
          .icon {
            height: 3rem;
            width: 3rem;
            border-radius: 50rem;
            background-color: white;
            @include center;
            color: $slider-color;
            font-size: 1.4rem;
          }
          .title {
            @include center;
            margin-left: 1rem;
            font-size: 1.2rem;
            text-transform: capitalize;
            font-weight: 300;
          }
        }
        .arrow-container {
          .icon {
            font-size: 1.5rem;
            transition-duration: .3s;
          }
          .icon.open {
            transform: rotate(180deg);
          }
        }
      }
      .issues-submenu.open {
        padding: 3% 0;
        max-height: 30rem;
      }
      .issues-submenu {
        overflow-y: hidden;
        max-height: 0;
        background-color: #f2f2f2;
        margin-top: .3rem;
        transition-property: all;
        transition-duration: .5s;
        padding-right: 2%;
        .question-container {
          height: 3.5rem;
          display: flex;
          align-items: center;
          background-color: white;
          margin: 0 auto 1.5rem;
          font-size: 1.1rem;
          padding-left: 1rem;
          font-weight: 500;
          text-transform: capitalize;
        }
        .all {
          height: 1rem;
          a {
            width: 100%;
            height: 100%;
            @include center;
            font-weight: 700;
            text-transform: uppercase;
            color: black;
            svg {
              height: 100%;
              margin-left: .5rem;
            }
          }
        }
      }
    }
    .faq-container {
      margin: 3rem 0;
      .faq-title {
        @include center;        
      }
      .faq-list {
        ul {
          display: flex;
          flex-direction: column;
        }
        li {
          margin-top: 1.5rem;
          text-transform: capitalize;
          font-size: 1.2rem;
          font-weight: 500;
          a {
            color: black;
          }
        }
      }
    }
    .quotes-container {
      width: 100%;
      background-color: $quotes-color;
      padding: .5rem 0;
      .icon {
        height: 2.5rem;
        width: 100%;
        svg {
          height: 100%;
          width: 2.5rem;
        }
      }
      .one {
        width: 72%;
      }
      .two {
        width: 82%;
      }
      .quote {
        text-align: center;
        margin: 1rem auto;
        font-size: 1.1rem;
        .quote-text {
          font-weight: 300;
          font-style: italic;
          line-height: 1.7;
          margin-bottom: .4rem;
        }
        .quote-author {
          text-transform: capitalize;
          font-weight: 700;
          margin-bottom: 1rem;
        }
        .quote-rating {
          color: gold;
          margin-bottom: 0.5rem;
        }
      }
      .seperator {
        height: .15rem;
        width: 80%;
        background-color: white;
        margin: 0 auto;
      }
      .quote-close {
        transform: rotate(180deg);
      }
    }
  }
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    .popup-content {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #fefefe;
      height: 30%;
      padding: 1rem;
      border: 1px solid #888;
      width: 80%;
      .close-box {
        border: .2rem solid black;
        border-radius: 100rem;
        width: 3rem;
        height: 3rem;
        align-self: flex-end;
        z-index: 1;
        @include center;
        &:hover {
          cursor: pointer;
        }
        .close {
          height: 100%;
          color: #000;
          font-size: 3.5rem;
          font-weight: bold;
          margin-top: -1.9rem;
        }
      }
      p {
        @include center;
        height: 100%;
        margin: -3.5rem auto 0;
        font-size: 3rem;
        font-style: italic;
        text-transform: capitalize;
      }
    }
  }
}